@import "./variables.scss";

.btn.btn-primary{
    background-color: $primary!important;
    border-color: $primary!important;
}

.btn.btn-secondary{
    background-color: $secondary!important;
    border-color: $secondary!important;
}

.btn.btn-outline-primary{
    color: $primary!important;
    border-color: $primary!important;

    &:hover{
        background-color: $primary!important;
        color: $no-color!important;
    }
}

.btn.btn-outline-secondary{
    color: $secondary!important;
    border-color: $secondary!important;

    &:hover{
        background-color: $secondary!important;
        color: $no-color!important;
    }
}

.btn-swerve{
    border-radius: 20px!important;
    color: $no-color!important;
}


.btn-remove{
    background-color: $added!important;
    width: 50px;
    height: 50px;
    padding-left: 6px!important;

    &.sm-remove{
        margin: 10px;
        width: 35px!important;
        height: 35px!important;
        padding: 0!important;
        svg{
            width: 35px!important;
            height: 35px!important;
        }
    }
}

.border-color{
    border: 1px solid black;
}

.navbar{
    .nav-item{
        width: 100px!important;

        a.link{
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.nav-tabs{
    border-color: black!important;
    .nav-link, .nav-link:hover{
        border-color: black!important;
        border-radius: 0!important;
        cursor: pointer;
        text-align: center;
    }
    .nav-link.active{
        border-bottom-color: $no-color!important;
    }
}
.resourceItem{
    padding-top: 20px;
    div.logo{
        border: 5px solid $b-color;
        cursor: pointer;
        z-index: 100;
        margin-right: -30px;
        background-color: $no-color;
        width: 128px;
        height: 128px;
    }
    .image-thumb{
        border: 5px solid $b-color;
        position: relative;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        width: 139px;
        height: 140px;

        img.logo{
            cursor: pointer;
            height: 128px;
            width: auto;
        }
    }

    .media-body{
        border: solid 2px $b-color;
        border-left: none;
        border-radius: 0 50px 50px 0;
        height: 100px;
        .push-words{
            margin-left: 10%;
        }
        p{
            font-size: 13px;
        }

        &.pending{
            border-color: $warning!important;
        }
    }
}

.no-paddding{
    padding: 0!important;
}

.underline{
    border-bottom: 1px solid black;
}
.searchText{
    .form-control{
        border-right: none!important;
    }
    .input-group-text{
        background-color: transparent!important;
        border-left: none!important;
    }
}

.info-header{
    color: white;
    background-color: $secondary!important;
    .close{
        color: white!important;
    }
}

.col-md-12{
    .show-warning{
        height: 200px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h3{
            vertical-align: middle!important;
        }
    }
}

.form-control{
    &.filter{
        background-color: $secondary!important;
        color: $no-color!important;
    }
}


.left-right-rounded{
    border-radius: 50px 50px 50px 50px!important;
}



.custom-check {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width:60px;
    height: 60px;
    margin-bottom: 0!important;
}

/* Hide the browser's default checkbox */
.custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    border: 5px solid $b-color;
}

/* On mouse-over, add a grey background color */
.custom-check:hover input ~ .checkmark {
    background-color: $no-color;
}

/* When the checkbox is checked, add a blue background */
.custom-check input:checked ~ .checkmark {
    background-color: $primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "\2713";
    position: absolute;
    display: none;
    top: 0;
    left: 10;
    font-size: 35px;
}

/* Show the checkmark when checked */
.custom-check input:checked ~ .checkmark:after {
    display: block;
}

//Style the checkmark/indicator
.custom-check .checkmark:after {
    color: white!important;
}

.appItem{
    padding-top: 20px;
    .profile{
        border: 5px solid $b-color;
        width: 70px;
        height: 70px;
        margin: -10px;
        cursor: pointer;

        &.filled{
            background-color: $primary;
        }

        &.unfilled{
            background-color: $no-color;
        }
    }
    .media-body {
        .row {
            border: solid 2px $b-color;
            border-left: none;
            border-radius: 0 50px 50px 0;
            .col-10{
                height: 60px;
            }
        }
    }
}


.teamItem{
    .profile{
        border: 5px solid $b-color;
        width: 70px;
        height: 70px;
        margin: -10px;
    }
    .media-body {
        .row {
            border: solid 2px $b-color;
            border-left: none;
            border-radius: 0 50px 50px 0;
            .col-1{
                width: 50px;
                height: 50px;
                cursor: pointer;
                .rounded-circle{
                    border: solid 1px $b-color;
                    width: 40px;
                    height: 40px;
                }
                .filled-2{
                    background-color: $added;
                }
            }
        }
    }
}


.label{
    margin-left: 5px;
}

.clickable{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
