@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";

$primary: #D28F18;
$secondary: #173B92;
$no-color: #fff;
$b-color: #A3A3A3;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
