@import "../style/variables.scss";

.header{
    background-color: $secondary-color;

    .nav-content{
        height: 70px;
    }
    a.link{
        color: $no-color;
    }

    .active{
        color: $primary-color !important;
    }
}
