@import "../../style/variables.scss";


.resourcesTab{
    .form-control{
        border-right: none!important;
    }
    .input-group-text{
        background-color: transparent!important;
        border-left: none!important;
    }
}

.usersTab{
    .userItem{
        padding-top: 20px;
        .profile{
            border: 5px solid $b-color;
            margin: -10px;
            cursor: pointer;
            width: 70px;
            height: 70px;
        }
        .media-body {
            .row {
                border: solid 2px $b-color;
                border-left: none;
                border-radius: 0 50px 50px 0;
            }
        }
    }
}
