.support-img {
	width: 100vw;
}

.support-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

.support-text-items {
	width: 80%;
}

.support-form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-flow: wrap;
	width: 60%;
}

.form-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.support-form-items {
	width: 45%;
}

.backgroundBlock {
	display: flex;
	width: 100vw;
	height: 8vh;
	background-color: #235dbe;
	align-items: center;
	justify-content: center;
	color: #FFF;
}

.foot-container {
	display: flex;
	width: 100vw;
	background-color: #235dbe;
}

.teamCarousel {
	left: 5%;
	width: 90%;
	justify-content: center;
	align-items: center;
}

.carouselItem {
	text-align: center;
	width: 200px;
	background-color: #FFF;
	border-radius: 1em;
}

.carouselImg {
	width: 200px;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

h1 {
	color: #E89E00;
}

.tallInput {
	height: 8em;
}

.resourceUploadImage {
	display: flex;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	margin-right: 0;

	align-items: center;
	justify-content: center;
}

.uploadButton {
	width: 4em;
	height: 4em;
	border-radius: 50%;
}

.fileHidden {
	display: none;
}

.signup-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 80%;
}

.signup-radio {
	display: block;
}

.progress-container {
	display: flex;
	width: 100%;
	align-items: flex-start;
	flex-direction: column;
	margin-left: 6em;
}

.signup-progress {
	width: 20%;
}

.login-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80%;
}

.login {
	width: 20%;
}

.home-spacer {
	height: 25%;
}

.home-image {
	z-index: -2;
}

.login-card {
	background-color: #FFF;
	border-radius: 2em;
}

.home-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.home-text {
	color: #FFF;
	width: 60%;
}

.social-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 30%;
}

.social-icons > button {
	background-color: transparent;
	border: 2px solid #E89E00;
	width: 3.5em;
	height: 3.5em;
	border-radius: 1.75em;
}

.button-container {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	top: 96.5%;
}

figure {
	margin: 0;
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
}

.home-login {
	position: absolute;
	display: flex;
	flex-direction: column;
}

.home-logo {
	width: 20vw;
}